#root {
  margin: 0 auto;
  text-align: center;
}

.headsup{
  width: auto;
  min-width: 100vw;
  margin-top: 10px;
  background-color: #8D99AE;
  display: flex;
  flex-direction: row;
}

.carrojpg{
  margin: 1vh;
  width: 100px;
  height: 15vh;
  border-radius: 100%;
  margin-right: auto;
}

.mbut{
  
  width: auto;
  min-width: 12vw;
  height: 17vh;
  text-wrap: wrap;
  
}



/* https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d80032 */